In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(r'C:\Users\toner\Downloads\Untitled spreadsheet - Sheet1.csv')
grouped_total = df.groupby('Category', as_index=False)['Total'].sum()
grouped_total

             Category    Total
0               Blush  3198.72
1           Concealer  1754.45
2  Eyeshadow Palette   8773.83
3    Eyeshadow Single  5522.93
4          Foundation  3904.29
5                Lips  6372.45
6             Mascara  1919.36
7      Pressed Powder  2114.53

In [13]:
df.groupby('Category', as_index=False)['Total'].sum()

             Category    Total
0               Blush  3198.72
1           Concealer  1754.45
2  Eyeshadow Palette   8773.83
3    Eyeshadow Single  5522.93
4          Foundation  3904.29
5                Lips  6372.45
6             Mascara  1919.36
7      Pressed Powder  2114.53